# 뷰티풀숩, 셀레니움 비교

In [1]:
import scrapy
import requests
from scrapy.http import TextResponse

req = requests.get("https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=삼성전자")
tr_obj = TextResponse(req.url, body=req.text, encoding="utf-8")
selector = '//*[@id="nx_related_keywords"]/dl/dd[1]/ul/li/a/text()'
datas = tr_obj.xpath(selector)
datas.extract()

['삼성전자우',
 '카카오',
 '삼성',
 'sk하이닉스',
 '현대자동차',
 '네이버',
 'lg화학',
 '현대차',
 '카카오게임즈',
 '삼성전자서비스센터']

In [2]:
import requests
from bs4 import BeautifulSoup

query = "삼성전자"
url = "https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query={}".format(query)
response = requests.get(url)
dom = BeautifulSoup(response.content, "html.parser")
elements = dom.select("._related_keyword_ul > li")
keywords = []

for element in elements:
    keywords.append(element.text.strip())
    
print(keywords)

['삼성전자우', '카카오', '삼성', 'sk하이닉스', '현대자동차', '네이버', 'lg화학', '현대차', '카카오게임즈', '삼성전자서비스센터']

In [11]:
from selenium import webdriver

page = 2
url = "https://news.naver.com/main/main.nhn?mode=LSD&mid=shm&sid1=100#&date=%2000:00:00&page={}".format(page)
driver = webdriver.Chrome()
driver.get(url)
articles = driver.find_elements_by_css_selector("#section_body li")
#articles[0].find_element_by_css_selector("dt:not(.photo) > a").text
article_list = []

for article in articles:
    title = article.find_element_by_css_selector("dt:not(.photo) > a").text
    article_list.append(title)
    
driver.quit()

In [12]:
article_list

['16년째 쌓여가는 이산가족 영상편지 2만편…애타는 기다림',
 '김정은, 공동조사 외면한채 김여정 대동 현장시찰…어떤 의도?',
 '[꽁수처 김검사] “공무원 살해소각 김정은이 큰 소리칩니다"',
 '문 대통령, 소방관 향한 변함없는 관심·격려 내비쳐',
 '與 "차량집회 불법땐 무관용" vs 野 "집회자유는 국민 기본권"',
 '김정은, “올해 유례없이 힘든 해”…김여정이 공식 수행',
 '추석 연휴 잊은 해외 봉사…“마스크 함께 만들어요”',
 '野 "추미애, 야당 겁박하며 추석 연휴 혼자 다 망쳐"',
 '민주당 "코로나19 대유행, 개천절집회 차단에 달려…완벽 차단해야"',
 '추미애 "무책임한 의혹제기 사과 촉구"…野 "또 궤변, 부메랑 될 것',
 '장제원 "김종인, 심사위원석에 국민 모셔야 하는데 자신이 앉아"',
 '추미애 "지원장교 전화번호 전달을 \'지시\'?...근거 없어"',
 '뻔함 피하려다 논란된 청년위 소개글…수습나선 국민의힘 지도부',
 '국민의힘 "술먹었는데 음주운전은 아니라는 거냐"…秋·檢비판(종합)',
 '[종합]내주 방한 앞둔 폼페이오 "아시아 순방 일정 재검토"',
 '진중권 교수 “추미애 뭘 잘했다고 기세등등? 국민에게 사과해야”',
 '문재인 대통령 부인 김정숙 여사 청와대 인근 파출소·소방서 방문',
 '[김광일의 입] 차기 대통령, 다음 서울시장 알아맞히기',
 '당색 바꿔도 ‘빨강’ 일색인 국민의힘···“도로 새누리당인가”',
 '트럼프 코로나 확진, 한반도 평화프로세스도 영향 받나']

In [3]:
import requests
import pandas as pd

from fake_useragent import UserAgent
UserAgent().chrome
url = "https://finance.daum.net/api/exchanges/summaries"
headers = {
    "user-agent": UserAgent().chrome,
    "referer": "https://finance.daum.net/exchanges",
}
response = requests.get(url, headers=headers)
data = response.json()["data"]
result_df = pd.DataFrame(data)
result_df.head(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2020-09-29 20:01:52,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (KRW/USD),221,1169.00,...,0.000855,1189.45,1148.55,1157.60,1180.4,None,None,1.9966,1.000,{'day': 'https://t1.daumcdn.net/finance/chart/...
1,FRX.KRWJPY,2020-09-29 20:01:51,JPY,엔,100,일본,"{'korName': '아시아', 'engName': 'Asia'}",일본 (KRW/JPY100),221,1107.06,...,0.003502,1126.43,1087.69,1096.22,1117.9,None,None,1.8865,0.947,{'day': 'https://t1.daumcdn.net/finance/chart/...

# 텍스트 저장 / pickle 비교

In [4]:
import pickle
ls = [1,2,3,4,5]
with open("example", "wb") as f:
    pickle.dump(ls,f)

In [6]:
with open("example", "rb") as f:
    data = pickle.load(f)

In [7]:
data

[1, 2, 3, 4, 5]

In [13]:
with open("example_1", 'w') as f:
    a= 'impossible is nothing'
    f.write(a)

In [15]:
with open("example_1", 'r') as f:
    kk = f.read()

In [16]:
kk

'impossible is nothing'