In [1]:
import scrapy
import requests
from scrapy.http import TextResponse

### Naver 키워드 스크래피(xpath)

In [2]:
url = 'https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query=%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90'

res = requests.get(url)

In [4]:
obj = TextResponse(res.url, body= res.text, encoding = "utf-8")

In [18]:
result = obj.xpath('//*[@id="nx_related_keywords"]/dl/dd[1]/ul/li/a/text()').extract()

In [19]:
result

['삼성전자우',
 '카카오',
 '삼성',
 '현대자동차',
 'sk 하이닉스',
 '빅히트',
 '현대차',
 '네이버',
 'lg화학',
 '삼성전자서비스센터']

### Daum 키워드 스크래피(xpath)

In [20]:
res = requests.get('https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%B0%94%EC%9D%B4%EC%98%A4%ED%8C%9C')

In [21]:
obj = TextResponse(res.url, body = res.text, encoding = 'utf-8')

In [25]:
result = obj.xpath('//*[@id="netizen_lists_top"]/span/a/text()').extract()
result

['sk 바이오팜',
 '바이오팜 주가',
 '바이오팜 뜻',
 '카카오 게임즈',
 '바이오랜드',
 '한국 바이오팜',
 '바이오팜 주식',
 'msci 지수',
 '삼양바이오팜',
 'sk바이오팜 msci',
 '카카오 게임즈 보호예수 기간',
 '주가지수',
 'sk케미칼 주가',
 '신풍제약',
 '카카오 게임즈 보호예수 해제',
 '삼성전자',
 '하이닉스',
 '씨젠',
 '빅히트',
 '삼성 바이오로직스']

### 네이버 영화 평점 스크래피

In [18]:
req = requests.get('https://movie.naver.com/movie/running/current.nhn')

In [19]:
res = TextResponse(req.url, body = req.text, encoding = "utf-8")

In [20]:
link = res.xpath('//*[@id="content"]/div[1]/div[1]/div[3]/ul/li/dl/dt/a/@href').extract()

In [21]:
link = res.urljoin(link[0])

In [22]:
link

'https://movie.naver.com/movie/bi/mi/basic.nhn?code=189141'

In [24]:
req = requests.get(link)

In [25]:
res = TextResponse(req.url, body = req.text, encoding = "utf-8")

In [56]:
title = res.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/h3/a[1]/text()').extract()[0]
count = res.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/dl/dd[5]/div/p[2]/text()').extract()[0]
star = res.xpath('//*[@id="actualPointPersentBasic"]/div/em/text()').extract()
star = "".join(star)
title, count, star

('삼진그룹 영어토익반', '88,082명', '9.81')